@{
    ViewBag.Title = "Home Page";
}

@model Test.Models.ValoresNotas

@{
    if (IsPost) {
        string test = Request.Form["ValorSaque"];

<text>
    You entered: <br />
    Test: @test Nope<br />
</text>
    }
}
<body>
    <div class="header">
        <h2>Testando Saque</h2>
    </div>
    <style media="all" type="text/css">
    </style>
    <form method="POST" class="formBonito" runat="server">
        <div>
            <label for="ValorSaque">Insira o valor a ser sacado:</label>
            <input type="text" name="ValorSaque" value="" placeholder="Insira o valor aqui" />
            <input type="submit" />
        </div>
    </form>
    <div>
        <h3>Notas</h3>
        <table class="table-bordered">
            <tr>
                <th>Valor Notas</th>
                <th>Quantidade</th>
            </tr>
            @*
            @foreach (var nota in ValoresNotas)
            {
                [
                    <td>@Model.ValorNota</td>
                    <td>@Model.QtdNota</td>
                ]
                        OU
                [
                    <td>
                        @Html.DisplayFor(modelItem => iten.ValorNota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => iten.QtdNota)
                    </td>
                ]
            }
            *@
        </table>
        <label for="resultado">Valor final do saque: </label>
    </div>

</body>
